<div class="panel panel-primary">
  <div class="panel-heading"><h4 class="panel-title">Basic settings</h4></div>
  <div class="panel-body">
    <div class="form-horizontal">

      <div class="form-group">
        <label class="control-label col-sm-2" for="notification-title">
          Title
        </label>
        <div class="col-sm-10">
          <input id="notification-title"
                 name="title"
                 class="form-control"
                 type="text"
                 ng-model="workingModel.notification.title">

          <div ng-if="!pushNotificationForm.title.$valid"
               class="text-danger validation-message">
            Distributing to the selected channels requires a title for the push notification
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="notification-message">
          Message
        </label>
        <div class="col-sm-10">
          <textarea id="notification-message"
                    rows="7"
                    name="message"
                    class="form-control"
                    type="text"
                    ng-model="workingModel.notification.message">
          </textarea>

          <div ng-if="!pushNotificationForm.message.$valid"
               class="text-danger validation-message">
            You must include a message to send with the notification
          </div>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="notification-url">
          URL
        </label>

        <div class="col-sm-10">
          <input id="notification-url"
                 class="form-control"
                 name="url"
                 type="text"
                 ng-model="workingModel.url">

          <div class="text-warning validation-message">
            The app doesn't validate that the URL is working, please confirm it's good before submitting the notification
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
