<div class="panel-group">
  <div class="panel panel-default">

    <div class="panel-heading">
      <a class="toggle" data-toggle="collapse" href="#collapseThree">
        <h4 class="panel-title">
          Notification Preview
          <span class="pull-right">
            +
          </span>
        </h4>
      </a>
    </div>

    <div id="collapseThree" class="panel-collapse collapse">

      <div class="panel-body">

        <div class="row">
          <div class="col-sm-12">
            <pre>{[notification | json]}</pre>
          </div>
        </div>

      </div>

  	</div>
  </div>
</div>
