<h1 class="page-header">Create notification</h1>

<div class="row">
  <div class="col-sm-9 col-lg-7">
    <div ng-include="'new_notification/channels.html'"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9 col-lg-7">
    <div ng-include="'new_notification/core_options.html'"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-10">

  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-10">
    <div ng-include="'new_notification/testing_options.html'"></div>
  </div>
</div>

<button class="btn btn-success" ng-click="submitNotification()">Submit Notification</button>
