<h1 class="page-header">Create Notification</h1>

<div class="row">
  <div class="col-sm-12 col-lg-10">
    <div push-notification-channels
         channels="workingModel.channels"
         form-field="pushNotificationForm.channels"
         name="channels"
         ng-model="notification.channels">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-10">
    {{> new_notification/core_options}}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-10">
    {{> new_notification/extra_options}}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-10">
    {{> new_notification/testing_options}}
  </div>
</div>

<button class="btn"
        ng-class="{'btn-success': isValid}"
        ng-click="submitNotification()">
  Submit Notification
</button>
