/**
 * Basic CSS for the push notification app.
 */


.form-inline .form-control, .form-inline .btn {
	margin-right: 10px;
}
.push-data-row {
	margin-bottom:10px;
}
.panel-heading a h4 {
	color: #fff;
}
.radio-inline {
	margin-right: 10px;
}