/**
 * Basic CSS for the push notification app.
 */

.form-inline .form-control, .form-inline .btn {
	margin-right: 10px;
}
.push-data-row {
	margin-bottom:10px;
}
.panel-heading a h4 {
	color: #fff;
}
.radio-inline {
	margin-right: 10px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.toggle {
    color: transparent;
}

/* This is a copy of the alert-error CSS attrs */
div.invalid-data-row input {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.validation-message {
    margin-top: 7px;
}
